/* Import fonts */

@font-face {
    font-family: "NoticiaText-Bold";
    src: url("fonts/NoticiaText-Bold.woff");
}

@font-face {
    font-family: "WorkSans-Medium";
    src: url("fonts/WorkSans-Medium.woff");
}

@font-face {
    font-family: "WorkSans-Regular";
    src: url("fonts/WorkSans-Regular.woff");
}

@font-face {
    font-family: "WorkSans-SemiBold";
    src: url("fonts/WorkSans-SemiBold.woff");
}


/*  Defining color variables  */

:root {
    --Bg-green: #043F2E;
    --lightest-reen: #C8F169;
    --Dark-green: #2A6B2C;
    --Green: #78C51C;
    --White: #FFFFFF;
    --Cream: #EEF2E3;
}

/*  Reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*  container for alignment */

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Primary heading */
.primary-heading {
    font-family: "NoticiaText-Bold";
    font-size: 3rem;
}

/* Secondary Heading */

.secondary-heading {
    font-family: "WorkSans-SemiBold";
    color: var(--lightest-reen);

}

/* Paragraph text style */

.para-text {
    font-family: "WorkSans-Regular";
    font-size: 1.2rem;
}

/* Flex class for display flex */

.flex {
    display: flex;
    gap: 20px;
}


/* Top section starts here  */

#top-section {
    background-color: var(--Green);
    padding-top: 100px;
    color: var(--Cream);

}

.top-container,
.bottom-container {
    padding: 70px;
    background: var(--Dark-green);
    border-radius: 25px;
    color: var(--Cream);
}


.top-left {
    width: 45%;
}


.primary-btn {
    padding: 15px 40px;
    border: 1px solid var(--Cream);
    border-radius: 5px;
    font-family: "WorkSans-Medium";
    background: transparent;
    color: var(--Cream);
    margin-top: 50px;

}

.primary-heading {
    padding: 20px 0;
}

/* Top section Ends here  */


/* bottom section starts here */

#bottom-section {
    background: var(--Green);
    padding: 50px 0 100px 0;
}


.bottom-left {
    width: 45%;
    padding: 70px 5px 70px 0px;
}

.bottom-right {
    position: relative;
    font-family: "WorkSans-Medium";
    color: var(--Bg-green);
}


/* Grid section starts here */

.grid-container {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;

}

.grid-card {
    background: var(--lightest-reen);
    border-radius: 10px;
    position: relative;

}

.grid-card-content {
    position: absolute;
    bottom: 0;
    padding: 20px;

}

.grid-card-content p {
    text-align: center;
}

.grid-card1 {
    width: 200px;
    height: 170px;
    grid-row: 1/2;
    grid-column: 1/2;

}

.grid-card2 {
    grid-area: 1 / 2 / span 1 / span 2;

}

.grid-card3 {
    width: 200px;
    height: 300px;
    grid-area: 2 / 1 / span 2 / span 1;
}

.grid-card4 {
    width: 250px;
    height: 350px;
    grid-area: 1 / 2 / span 2 / span 1;


}

.grid-card5 {
    width: 200px;
    grid-area: 2 / 3 / span 2 / span 1;
}

.grid-card6 {
    grid-area: 3 / 1 / span 1 / span 1;

}

.self-serve-grid-card{
    width: 250px;
    height: 174px;
    position: absolute;
    background: var(--lightest-reen);
    border-radius: 10px;
    bottom: 0;
    right: 419px;
}

.custom-data-grid-card {
    height: 174px;
    width: 193px;
    background: var(--lightest-reen);
    position: absolute;
    bottom: 0;
    right: 213px;
    border-radius: 10px;
}

.grid-card-content {
    position: absolute;
    bottom: 0;
}
/* Grid section Ends here */
/* Down csection Ends here */